<!DOCTYPE html>
<html>
<head>
    <title>Mini Video Tube</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="header">
    <h1>Mini Video Tube</h1>
</div>

<div class="container">

    <div class="sidebar">
    {% if user.is_authenticated %}
    <a href="{% url 'register' %}">Register</a>

    <a href="{% url 'login' %}">Login</a>

    <a href="{% url 'home' %}">Home</a>

    <a href="{% url 'view_videos' %}">View Videos</a>

    <a href="{% url 'add_video' %}">Add Video</a>

    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

</div>

    <div class="content">

        {% block content %}
           {% if messages %}
              {% for msg in messages %}
                  <p class="msg">
                     {{msg}}
                  </p>
                {% endfor %}
           {% endif %}
        {% endblock %}

    </div>

</div>

<div class="footer">

    © Mini Video Tube

</div>

</body>
</html>